@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color:lightblue;
}

 .btn a:nth-child(2) {
background-color: rgb(142, 14, 14);
 }
 .btn a:nth-child(1) {
    background-color: green;
     }
     .btn a:nth-child(3) {
        background-color: blue;
         }
.btn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom:40px ;
}